<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Gác Nghỉ</title>
</head>
<body>
<nav>
    <label class = "logo">Gác Nghỉ</label>
    <ul>
        <li><a href="#">Chỉnh sửa</a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="gacnghi.admin.user_list">Người dùng</a></li>
                    <li><a href="gacnghi.admin.book_list">Thư viện</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Kho sách</a></li>
        <li><a href="#">Thêm Sách</a></li>
        <li><a href="#">Diễn Đàn</a></li>
    </ul>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <img src="/images/search.png" alt="Search Icon" class="search-icon">
    </div>
    <div>
        <ul class="logout">
            <li><a href="gacnghi.login">Đăng xuất</a>
        </ul>
    </div>
</nav>

<div class="welcome">
    <h1>WELCOME ADMIN</h1>
    <h5>Write something here</h5>

</div>
</body>
</html>