<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/BookEdit.css">
    <title>Gác Nghỉ</title>
</head>
<body>
<nav>
    <label class = "logo">Gác Nghỉ</label>
    <ul>
        <li><a href="#">Chỉnh sửa</a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="gacnghi.admin.user_list">Người dùng</a></li>
                    <li><a href="gacnghi.admin.book_list">Thư viện</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#">Kho sách</a></li>
        <li><a href="#">Thêm Sách</a></li>
        <li><a href="#">Diễn Đàn</a></li>
    </ul>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <img src="/images/search.png" alt="Search Icon" class="search-icon">
    </div>
    <div>
        <ul>
            <li><a href="gacnghi.login">Đăng xuất</a>
        </ul>
    </div>
</nav>

<div class = "center">
    <h1>Edit Book</h1>
    <form th:action="@{/saveBookUser}" method="post" th:object="${book}">
        <input type="hidden" name="id" th:value="${book.id}"/>
        <div class = "txt_field">
            <input type = "text" name = "title" th:value="${book.title}" required>
            <span></span>
            <label >Title</label>
        </div>
        <div class = "txt_field">
            <input type = "text" name = "author" th:value="${book.author}" required>
            <span></span>
            <label>Author</label>
        </div>
        <div class = "txt_field">
            <input type = "text" name = "description" th:value="${book.description}" required>
            <span></span>
            <label>Description</label>
        </div>
        <div class = "txt_field">
            <input type = "text" name = "status" th:value="${book.status}" required>
            <span></span>
            <label>Status</label>
        </div>
        <div class = "txt_field">
            <input type = "text" name = "pathToImage" th:value="${book.image}" required>
            <span></span>
            <label>Path to Image</label>
        </div>
        <input type = "submit" value = "Submit">

    </form>
</div>

</body>
</html>