<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/before.css">
    <title>Gác Nghỉ</title>
</head>
<body>
<nav>
    <label class = "logo">Gác Nghỉ</label>
    <ul>
        <li><a href="LoginPage">Login</a></li>
        <li><a href="SignupPage">Sign Up</a></li>
    </ul>
</nav>
</body>
</html>