<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class = "center">
    <h1>Login</h1>
    <form th:action="@{/login}" method="get" th:object="${user}">
        <div class = "txt_field">
            <input type = "text" name = "name" th:value="${name}" required>
            <span></span>
            <label>Username</label>
        </div>
        <div class = "txt_field">
            <input type = "password" name = "password" th:value="${password}" required>
            <img src ="/images/eye-close.png" id="eyeicon">
            <span></span>
            <label>Password</label>
        </div>
        <div class = "pass">Forgot password?</div>
        <input type = "submit" value = "Login">
        <div class = "signup_link">
            Not a member? <a href = "gacnghi.signup">Sign Up Here</a>
        </div>
    </form>
</div>
<script src = "/js/loginform.js"></script>
</body>
</html>