<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class = "center">
    <h1>Sign Up</h1>
    <form th:action="@{/save}" method="post">
        <div for="email" class = "txt_field">
            <input type = "text" name = "email" required>
            <span></span>
            <label>Email</label>
        </div>
        <div for="name" class = "txt_field">
            <input type = "text" name = "name" required>
            <span ></span>
            <label>Username</label>
        </div>
        <div for="password" class = "txt_field">
            <input type = "password" name = "password" id ="password" required>
            <img src ="/images/eye-close.png" id="eyeicon1">
            <span></span>
            <label>Password</label>
        </div>
        <div class = "txt_field">
            <input type = "password" name="re-enterPassword" id="repassword" required>
            <img src ="/images/eye-close.png" id="eyeicon">
            <span></span>
            <label>Re-Enter Password</label>
        </div>
        <div class = "term">
            <input type = "checkbox" id="checkbox">
            <label for = "checkbox">I agree to these <a
                    href="#">Terms and Conditions</a></label>
        </div>
        <input type = "submit" value = "Sign Up">
        <div class = "signup_link">
            Already a member? <a href = "gacnghi.login">Login Here</a>
        </div>
    </form>
</div>
<script src = "/js/scripts.js"></script>
</body>
</html>